# =========================
# Java / Maven / Spring Boot
# =========================
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.log

# =========================
# IDEs
# =========================
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# =========================
# Frontend (Node.js / JS frameworks)
# =========================
node_modules/
dist/
build/

# =========================
# Python / Data Science
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.venv/
.env

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db